@font-face {
  font-family: 'aurebesh';
  src: url('@/assets/AurebeshAF-Canon.otf');
}

@font-face {
  font-family: 'comfortaa';
  src: url('@/assets/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'changa';
  src: url('@/assets/Changa-VariableFont_wght.ttf');
}
/* color palette from <https://github.com/vuejs/theme> */
:root {
  --clr-black: rgb(0, 0, 0);
  --clr-darkgrey: rgb(31, 31, 34);
  --clr-middledarkgrey: rgb(39, 39, 41);
  --clr-lightgrey: rgb(172, 172, 172);
  --clr-middlegrey: rgb(116, 115, 115);
  --clr-darkishgrey: rgb(26, 26, 26);
  --clr-darkergrey: rgb(19, 19, 19);
  --clr-darkergrey-dark: rgb(17, 17, 17);
  --clr-darkcyan: rgb(5, 33, 34);
  --clr-offwhite: rgb(238, 238, 238);
  --clr-red: rgb(148, 1, 1);
  --clr-darkred: rgb(100, 2, 2);
  --clr-darkerred: rgb(39, 18, 18);
  --clr-green: rgb(1, 148, 33);
}

/* additional variables */
:root {
  --border-radius-cards: 8px;
}

:root {
  --color-background: var(--clr-darkgrey);
  --color-background-card: var(--clr-darkergrey);
  --color-background-card-hover: var(--clr-darkergrey-dark);
  --color-background-header: var(--clr-middledarkgrey);
  --color-aurebesh: var(--clr-red);
  --color-button-border: var(--clr-lightgrey);
  --color-button-background: var(--clr-darkishgrey);
  --color-button-background-hover: var(--clr-black);
  --color-button-text: var(--clr-black);
  --color-text: var(--clr-offwhite);
  --color-input-active: var(--clr-green);
  --color-input-background: var(--clr-black);
  --color-icon-background: var(--clr-lightgrey);
  --color-header-divider: var(--clr-darkerred);
}
:root {
  font-size: 15px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-family: changa;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ---styling for card render sites */

.component__container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.search-results__container {
  padding-top: 2rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.result__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-background-card);
  padding: 2rem;
  padding-left: 4rem;
  flex-grow: 1;
  max-width: 35rem;
  min-width: 20rem;
  border-radius: var(--border-radius-cards);
  transition: background-color 200ms ease;
}
.result__card:hover {
  background-color: var(--color-background-card-hover);
}
.ship-data__wrapper {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 1.5rem;
  text-indent: -2rem;
}

.result-name__headline {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  font-variant-caps: small-caps;
}
.aurebesh__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: var(--color-aurebesh);
  writing-mode: vertical-lr;
  font-family: aurebesh;
}

.bi {
  width: 2rem;
  height: 2rem;
  color: var(--color-icon-background);
}
.bi:hover {
  color: var(--color-text);
  box-shadow: 0 0 20px 1px var(--color-input-active);
  background-color: var(--color-background);
}

.bi:active {
  box-shadow: 0 0 20px 5px var(--color-input-active);
}

.shipSaved,
.shipSaved:hover,
.shipSaved:active {
  background-color: transparent;
  color: var(--color-background);
  box-shadow: none;
}

@media (max-width: 500px) {
  :root {
    font-size: 11px;
  }
}

.shiplist_dropdown-row:hover {
  border: 2px solid var(--color-input-active);
}
.v-enter-active,
.v-leave-active {
  transition: opacity 200ms ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
